* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#header {
  background-color: #222831;
  width: 100%;
  height: auto;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  margin: 0;
  padding-left: 10px;
  color: white;
}

.navbar {
  display: flex;
  gap: 40px;
  padding-right: 20px;
  color: white;
}

.titulonav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
}

h2 a {
  text-decoration: none;
  color: #ef9651;
  transition: color 0.3s ease, transform 0.2s ease;
  font-size: large;
  color: inherit;
}

h2 a:hover {
  color: #ef9651;
  transform: scale(1.1);
  text-shadow: 2px 2px 5px rgba(255, 204, 0, 0.5);
}

#principal {
  background-color: #31363f;
  width: 100%;
  height: 92vh;
  color: white;
}

#principal h1 {
  text-align: center;
  padding-top: 35vh;
  font-size: 500%;
}

#principal h3 {
  text-align: center;
  padding-top: 15px;
  font-size: large;
}

#sobre-mi {
  background-color: #222831;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.sobreMi {
  color: white;
  font-size: 24px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobre-mi p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  color: white;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding: 80px 15% 50px 15%;
  text-align: center;
  max-height: 300px;
}

#proyectos {
  background-color: #31363f;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.div-proyecto {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

.div-proyecto h2,
.div-proyecto p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-proyecto h2 {
  font-size: 24px;
}

.div-proyecto p {
  font-size: large;
}

.proyectos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.proyecto {
  background-color: #4c5c68;
  width: 270px;
  height: 400px;
  border-radius: 10%;
  box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.proyecto:hover {
  transform: translateY(-5px);
}

.proyecto h2 {
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

.proyecto article {
  background-color: #222831;
  width: 85%;
  height: 50%;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.proyecto h3 {
  color: white;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px 10px 12px 10px;
}

.proyecto H4 {
  color: white;
  font-size: 14px;
  display: flex;
  text-align: left;
  justify-content: left;
  padding-left: 25px;
}

.proyecto a {
  display: flex;
  justify-content: right;
  padding-right: 12px;
  padding-bottom: 8px;
}

.proyecto img {
  width: 40px;
  height: 40px;
}

#habilidades {
  background-color: #222831;
  width: 100%;
  height: 500px;
  color: white;
}

#habilidades > h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  margin: 0;
}

#habilidades p {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: large;
  padding-bottom: 20px;
}

#habilidades > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.habilities {
  max-width: 300px;
}

.habilities {
  background-color: #4c5c68;
  width: 300px;
  height: 120px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  color: white;
  box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.habilities:hover {
  transform: translateY(-5px);
}

.habilities h2 {
  margin: 0;
  font-size: 20px;
}

.habilities h3 {
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 4px 0 0 0;
  font-size: 18px;
}

.habilities > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.ye {
  width: 15px;
  height: 30px;
  background: linear-gradient(
    to top,
    #91aec1 50%,
    #bfd7ea 50%
  ); /* Mitad de un color y mitad de otro */
  border-radius: 5px;
  margin-top: 7px;
}

.pr {
  width: 15px;
  height: 30px;
  background: linear-gradient(
    to top,
    #dd7230 50%,
    #ca5310 50%
  ); /* Mitad de un color y mitad de otro */
  border-radius: 5px;
  margin-top: 7px;
}

#contacto {
  background-color: #31363f;
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

#contacto h2 {
  font-size: 24px;
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

#contacto h3 {
  font-size: 20px;
  padding-top: 15px;
  margin: 10px 0 5px;
}

.textarea-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input,
.mensaje {
  width: 40%;
  max-width: 700px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
}

.mensaje {
  height: 200px;
  resize: none;
  padding-top: 10px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-contacto {
  width: 100px;
  height: 50px;
  border-radius: 12%;
  font-size: 16px;
  background-color: #f39c12;
  color: white;
  cursor: pointer;
}

.btn-contacto:hover {
  background-color: #e67e22;
}

.btn-volver-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: #ff6600;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-volver-arriba:hover {
  background-color: #ffcc00;
  transform: scale(1.1);
}

#footer {
  background-color: #222831;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#footer .redes-sociales {
  margin: 10px;
  width: 100%;
  height: 80px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 60px;
}

#footer h2 {
  margin: 20px;
  color: white;
  font-size: medium;
}

.icon-link {
  color: white;
  text-decoration: none;
}
